<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{.title}}</title>
  <link rel="shortcut icon" href="/public/assets/favicon.ico" />
  <link rel="stylesheet" href="/public/assets/style.css">
</head>
<body>
  <div class="text">
    <div>ERROR</div>
    <h1>404</h1>
    <hr>
    <div>Page Not Found</div>
  </div>

  <div class="astronaut">
    <img src="/public/assets/astronaut.png" alt="" class="src">
  </div>
</body>
</html>